<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuntian.androidarch">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name="com.yuntian.androidarch.base.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="com.yuntian.androidarch.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.yuntian.androidarch.ui.activity.ModuleTabActivity"/>
        <activity android:name="com.yuntian.androidarch.ui.activity.ModuleViewPagerActivity"/>
        <activity android:name="com.yuntian.androidarch.ui.activity.ModuleViewPagerDynamicActivity"/>
        <activity android:name="com.yuntian.androidarch.ui.activity.ExampleListActivity"/>
        <activity android:name="com.yuntian.androidarch.ui.activity.ExampleStateViewActivity"/>
        <activity android:name="com.yuntian.androidarch.ui.activity.DialogActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>